.rows{
  display: flex;
  gap: 3px;
}
.xox{
  max-width: 100%;
  min-height: 99.5vh;
  border:.5px solid;
  display: grid;
  align-items: center;
  place-items: center;
  background-color:rgb(229, 223, 223);
}
.rows>button{
  width: 120px;
  height: 120px;
  font-size: 78px;
  border: none;
  
}
*{
  color: rgba(0, 0, 0, 0.91);
}
.board{
  border-radius: 12px;
  overflow: hidden;
  gap: 3px;
  display:grid;
  background-color:rgb(77, 75, 75);
  box-shadow: 10px 8px 20px 1px;
}
h1{
  color: rgb(56, 36, 133);  
}